@import '../../shared';

.meme {
    margin-top: 100px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px auto;

    &__imgContainer {
        position: relative;
        }

    &__image {
        width: 100%;
    }

    &__text {
        position: absolute;
        position: absolute;
        width: 80%;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        margin: 15px 0;
        padding: 0 5px;
        font-family: impact, sans-serif;
        font-size: 2em;
        text-transform: uppercase;
        color: white;
        letter-spacing: 1px;
        text-shadow:
            2px 2px 0 #000,
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            0 2px 0 #000,
            2px 0 0 #000,
            0 -2px 0 #000,
            -2px 0 0 #000,
            2px 2px 5px #000;

        &--top {
            top: 0;
        }

        &--bottom {
            bottom: 0;
        }
    }
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;

    &__inputField {
        text-indent: 5px;
        border-radius: 5px;
        border: 1px solid $light-silver;
        color: #0D0D0D; 
    }

    &__button {
        grid-column: 1 / -1;
        @include backgroundLinear;
        font-weight: $font-weight-bold;
        text-align: center;
        color: $white;
        border-radius: 5px;
    }
}