@import '../../_shared';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: rem(91px);
    @include backgroundLinear;
    
    &__brand-wrapper {
        display: flex;
        align-items: center;
        color: $white;
        text-align: left;
        margin-left: 10px;
        text-decoration: none;
    }

    &__title {
        margin-left: 10px;
    }

    &__breadcrumb {
        display: flex;
        align-items: end;
        list-style-type: none;
        margin: 0 10px;
        font-size: 14px;
    }
}
