@use 'sass:math';

//* Function: rem()
//* DESCRIPTION: px -> rem conversion
@function rem($px, $base: 16px) {
  @return math.div($px, $base) * 1rem;
}

// MIXINS
@mixin text-small {
  font-size: $font-size-small;
  line-height: $lh-small;
}

@mixin text-big {
  font-size: $font-size-big;
  line-height: $lh-big;
}

@mixin backgroundLinear{
  background: linear-gradient(to right, #672280,#A626D3);
}

// COLORS
$white: #FFFFFF;
$light-gray: #e5e5e5;

// FONTS
$font-size-small: rem(11px);
$font-size-medium: rem(16px);
$font-size-big: rem(25px);

// FONT WEIGHTS
$font-weight-bold: 700;

// LINE HEIGHTS
$lh-small: 13px;
$lh-big: 30px;

